.card{
    background-color: $bg_card;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    transition: all 200ms;
    &_legend{
        padding: 15px;
        display: flex;
        justify-content: space-between;
        & h3, & p {
            margin: 5px;
        }
    }
    &_image{
        display: flex;
        flex-direction: row-reverse;
        height: 280px;
        border-radius: 20px 20px 0px 0px;
        .card_tag{
            background-color: $color-tertiary;
            color: darken($color: $color-tertiary, $amount: 40);
            padding: 5px;
            margin: 20px;
            align-self: flex-start;
            transition: transform 200ms;
            transform: scale(1);
        }
    }
}

.cardlink_card{
    @include card-shadow;
    &:hover{
        transform: scale(1.02);
        & .card_tag{
            transform: scale(1.2);
        }
    }
    &:active{
        transform: scale(1.02);
        & .card_tag{
            transform: scale(1.2);
        }
    }
}