.réservez_btn{
    @include bouton;
    width: 200px;
}

.commander{
    @include bouton;
    display: flex;
    justify-content: center;
    width: 130px;
    &_btn{
        background: none;
        border: none;
        color: $bg_card;
    }
}