.loading{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    display: flex;
    z-index: 110;
    opacity: 1;
    justify-content: center;
    align-items: center;
    animation: loader-bg 1900ms both ease-out;
    &_spinner{
        position: fixed;
        z-index: 120;
        transform: scale(1);
        opacity: 1;
        animation: loader-spinner 1500ms both ease-in-out;
    }
}