@keyframes menu_appear{
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    70%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.cards_card{
    opacity: 0;
    transform: translateY(0);
    animation: menu_appear both ease-out 1100ms;
    @for $i from 1 through 4 {
        &--#{$i} {
            animation-delay: 150ms * $i;
         }
    }
}