@mixin border{
    border: 1px solid black;
}

@mixin card-shadow{
    box-shadow: $shadow 0px 1px 20px;
}

@mixin btn-shadow {
    box-shadow: $shadow 1px 3px 12px;    
}

@mixin btn-shadow-hover {
    box-shadow: darken($shadow, 20) 1px 3px 12px;
}

@mixin bouton {
    background: linear-gradient(
        to top, 
        $color-primary, 
        $color-secondary);
    border-radius: 30px;
    padding: 15px;
    color: $bg_card;
    margin: 30px;
    @include btn-shadow;
    opacity: 1;
    transform: scale(1);
    transition: all 200ms;
    &:hover{
        transform: scale(1.04);
        opacity: 85%;
        @include btn-shadow-hover;
    }
    &:active{
            transform: scale(.98);
    }
}