$color-primary: #9356DC; 
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$bg_card: white;
$bg_dark: rgb(231, 231, 231);
$bg_light: rgb(245, 245, 245);
$bg_footer: rgb(48, 48, 48);

$shadow: rgb(187, 187, 187);